*{
    text-align: center;
    font-weight: bold;
}
caption{
    font-size: x-large;
    margin-bottom: 20px;
}
table, tr, td{
    border: solid black 2px;
    border-collapse: collapse;
}

ul li{
    color: red;
    text-align: left;
}

td{
    background-color: blue;
}

.col1{
    background-color: red;
    color: white;
    width: min-content;
}

.fila2{
    font-size: x-large;
    background-color: grey;
    padding-top: 25px;
    padding-bottom: 25px;
}

.blanco{
    background-color: white;
}

#amarillo{
    background-color: yellow;
    padding-top: 40px;
    padding-bottom: 40px;
}