*{
    text-align: center;
    font-weight: bold;
}
caption{
    font-size: x-large;
    margin-bottom: 20px;
}
table{
    border-collapse: collapse;
    margin: 0px auto; /* PARA QUE CENTRE!! */
}

tr, td{
    border: solid black 2px;
}

ul li{
    color: red;
    text-align: left;
}

td{ /*  [colspan="2"], [colspan="3"]  --> para hacer los que tengan esos atributos*/
    background-color: blue;
}

img{
    height: 50px;
}

.col1{
    background-color: red;
    color: white;
    width: min-content;
}

#GB{
    font-size: x-large;
    background-color: grey;
    padding-top: 25px;
    padding-bottom: 25px;
}

.blanco{
    background-color: white;
}

#amarillo{
    background-color: yellow;
    padding-top: 40px;
    padding-bottom: 40px;
}